/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
  padding: 10px 5px;
}

.navbar link {
  padding: 5px;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

ul { list-style:none;}

.listingLink {
  color: black;
}

label, input {
  /* in order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* positions the label text beside the input */
  text-align: right;
}

label + input {
  width: 30%;
  /* large margin-right to force the next element to the new-line
     and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}

label + textarea {
  width: 30%;
  /* large margin-right to force the next element to the new-line
     and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
 but to be sure you could use an id or class for that button */
input + input {
  float: right;
}